<h1>Página de Login</h1>

<form action="/login" method="POST">
    <label for="fname">Nome:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Senha:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Login">
</form>

<h2>Se vc não é cadastrado clique nos botões abaixo</h2>

<form action="/cadastroprofessor" method="POST">
    <input type="submit" value="registro professor">
</form>

<form action="/cadastroaluno" method="POST">
    <input type="submit" value="registro aluno">
</form>