<!DOCTYPE html>
<html>
<title>Minha primeira página</title>
<head>
  <style>
  body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  </style>
  </head>
<body>

<h1>Vamos alterar algumas coisas</h1>
<p>Isso é um parágrafo</p>
<p>Outro paragrafo soh de onda</p>

<form action="/action_page.php" method="get">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
  </form>

</body>
</html>